body{
    background-colour: purple;

}
p{ 
    font-family: monospace;
    text-align: centre;
    color: lightpink
}
h1,h2,h3,h4,h5,h6{
    font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
    color: lightyellow;
    font style: italic;
    text-align: right;
}


